<%- include("../layouts/header.ejs")  %>


<section class=" BlueBG">

    <div class="formdiv">
    <form action="" method="post" enctype="multipart/form-data" class="" >
        <label for="name" class="text-danger" ><%=locals.Nm%></label>
        <input type="text" value="<%=locals.CNm%>" name="name" placeholder="Enter name" class="form-control"  class="">
        <br>
        <label for="email" class="text-danger" ><%=locals.Em%></label>
        <input type="email" value="<%=locals.CEm%>" name="email" placeholder="Enter email" class="form-control" class="">
        <br>
        <label for="mobile" class="text-danger" ><%=locals.Mob%></label>
        <input type="text" value="<%=locals.CMob%>" name="mobile" placeholder="Enter mobile num" class="form-control"  class="">
        <br>
        <input type="file" name="image" class="form-control">
        <br>
        <label for="password" class="text-danger" ><%=locals.Ps%></label>
        <input type="password"  name="password" placeholder="Enter password" class="form-control"  class="">
        <br>
        <input type="submit" value="Register" class="btn btn-success" class="">
    
    </form>
    <br>
    <%if(typeof message !== 'undefined'){%>
    
        <p style="color: green;"><%= message %></p>
    
    <%}%>

        <a href="/login">Already have an account? Login here</a>

    </div>

</section>



<%- include("../layouts/header.ejs")  %>